/* styles.css */

* {
	font-family: Arial;
}

h1{
font-size: 60px;
color:blueviolet;
text-decoration: underline;
}

h2{
font-size: 40px;
color:red;
}
h3{
font-size: 40px;
color:rgb(216, 216, 33);
}
h4{
font-size: 40px;
color:rgb(35, 159, 35);
}
h5{
font-size: 40px;
color:rgb(44, 44, 212);
}
body.red{
	background-color: pink;
}
body.yellow{
	background-color: rgb(255, 252, 192);
}
body.green{
	background-color: rgb(192, 255, 201);
}
body.blue{
	background-color: rgb(183, 200, 250);
}

body.rainbow{
	background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}